.hue {
    font-family: 'Lobster', cursive;

    font-size: 40px;
    color: #ea4335;
    background-image: -webkit-linear-gradient(92deg, #ea4335, #fbbc05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }
  
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
  
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
  