

    
    
    
    
    
    
    
    
    
    






  
  <html>
      <body>
         <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
         <label for="drawer-toggle" id="drawer-toggle-label"></label>
         <header>
            <img class="img-responsive" src="../assets/images/logo2.png" width="200px" style="display: block;
            margin-left: auto;
            margin-right: auto;
          

            " >
            
         </header>

         <nav id="drawer">
            <h1><img class="img-responsive" src="../assets/images/user.jpg" width="100px" style="display: block;
              margin-left: auto;
              margin-right: auto;
              border-radius: 50%;

              " > </h1>
            
              <span><h4 style="color:white">{{userClaims.FirstName}} {{userClaims.LastName}}</h4></span>
             
              <span style="color:white"  > {{userClaims.Email}}</span>
              
             
         
         </nav>

        
  
      </body>
      <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
   
      
    
          

      
      </html>






